%section#top
  .row
    %div(style="margin:0 10%;")
      =image_tag("about/logo.png", alt:'THE TOURNAMENT')
      %div.mb-30
        %small= t('.subtitle')
      %p
        =link_to root_path, class: 'btn btn-danger btn-lg' do
          = t('.try_service')

%section#about
  %h1.hide About
  .row
    %div.col-md-4.col-lg-4
      =image_tag "about/about_1.png", style: "max-width:250px;"
      %h2= t('.about_title_1_html')
      %p= t('.about_text_1_html')
    %div.col-md-4.col-lg-4
      =image_tag "about/about_2.png", style: "max-width:250px;"
      %h2= t('.about_title_2_html')
      %p= t('.about_text_2_html')
    %div.col-md-4.col-lg-4
      =image_tag "about/about_3.png", style: "max-width:250px;"
      %h2= t('.about_title_3_html')
      %p= t('.about_text_3_html')

%section#examples
  %h1
    %span Examples
  %p.text-center
    %small
      試合結果をクリックすると、詳細情報が表示されます。
  .row
    .col-lg-1
    .col-lg-6
      = render partial: "tournaments/raw", locals: { tournament: @tournament, embed: false }

    .col-lg-4
      %h2
        = link_to(tournament_path(@tournament)) do
          = @tournament.title
          %small @#{@tournament.place}
      %p= @tournament.detail
      = link_to sanitize("<i class='fa fa-angle-double-right'></i>")+' この大会の詳細をみる', tournament_path(@tournament), class: 'btn btn-primary'
    .col-lg-1


%section#feature
  %h1
    %span Feature
  %p.mb-30
    = t('.feature_text_html')
  .row
    .col-sm-4
      .thumbnail
        %h2= t('.feature_1')
    .col-sm-4
      .thumbnail
        %h2= t('.feature_2')
    .col-sm-4
      .thumbnail
        %h2= t('.feature_3')
    .col-sm-4
      .thumbnail
        %h2= t('.feature_4')
    .col-sm-4
      .thumbnail
        %h2= t('.feature_5')
    .col-sm-4
      .thumbnail
        %h2= t('.feature_6')

    .col-sm-4
      .thumbnail
        %h2= t('.feature_7')
    .col-sm-4
      .thumbnail
        %h2= t('.feature_8')
    .col-sm-4
      .thumbnail
        %h2= t('.feature_9')
    .col-sm-4
      .thumbnail
        %h2= t('.feature_10')
    .col-sm-4
      .thumbnail
        %h2= t('.feature_11')
    .col-sm-4
      .thumbnail
        %h2= t('.feature_12')

    .col-sm-4
      .thumbnail
        %h2= t('.feature_13')
    .col-sm-4
      .thumbnail
        %h2= t('.feature_14')
    .col-sm-4
      .thumbnail
        %h2= t('.feature_15')
    .col-sm-4
      .thumbnail
        %h2= t('.feature_16')
    .col-sm-4
      .thumbnail
        %h2= t('.feature_17')
    .col-sm-4
      .thumbnail
        %h2= t('.feature_18')


%section#plan
  %h1
    %span Plan/Price
  .container
    .row.text-center
      .col-md-4
        .panel.panel-default
          .panel-heading
            %small アカウント登録なしですぐに使える！お試しモード
          %table.table
            %tr
              %td(colspan=2)
                = image_tag('about/price_1.png')
                %h2 ゲストアカウント
            %tr
              %th
                料金
              %td
                %span.text-danger 無料
            %tr
              %th
                = t('.plan_storage')
              %td
                ∞（無制限）
            %tr
              %th
                = t('.plan_size')
              %td
                〜32名
            %tr
              %th
                トーナメント埋め込み機能：
              %td ✕
            %tr
              %th
                サポート
              %td
                チャット・メール（1営業日以内回答）
            %tr
              %td(colspan=2)
                =link_to new_tournament_path, class: 'btn btn-primary' do
                  ゲストでトーナメント表を作成する
      .col-md-4
        .panel.panel-danger
          .panel-heading
            %small 基本機能がすべてずっと無料で使えるうれしいプラン！
          %table.table
            %tr
              %td(colspan=2)
                = image_tag('about/price_2.png')
                %h2.text-danger
                  基本アカウント
                  %small (無料)
            %tr
              %th
                料金
              %td
                %span.text-danger 無料
            %tr
              %th
                = t('.plan_storage')
              %td
                ∞（無制限）
            %tr
              %th
                = t('.plan_size')
              %td
                %span.text-danger 〜128名
            %tr
              %th
                トーナメント埋め込み機能：
              %td
                %span.text-danger ◯
                （更新は10分以内）
            %tr
              %th
                サポート
              %td
                チャット・メール（1営業日以内回答）
            %tr
              %td(colspan=2)
                =link_to new_user_registration_path, class: 'btn btn-danger' do
                  無料アカウントを作成する

      .col-md-4
        .panel.panel-default
          .panel-heading
            %small= t('.plan_3_text')
          %table.table
            %tr
              %td(colspan=2)
                = image_tag('about/price_3.png')
                %h2
                  有料アカウント
            %tr
              %th
                料金
              %td
                お問い合わせください
            %tr
              %th
                = t('.plan_storage')
              %td
                ∞（無制限）
            %tr
              %th
                = t('.plan_size')
              %td
                128名以上も可能
            %tr
              %th
                トーナメント埋め込み機能：
              %td
                ◯（
                %span.text-danger 即時更新も可能
                ）
            %tr
              %th
                サポート
              %td
                %span.text-danger 電話
                チャット・メール（
                %span.text-danger リアルタイム対応
                ）
            %tr
              %th
                その他
              %td
                トーナメント表への顔写真表示
                %br
                両山トーナメント
                %br
                大会会場でのシステムサポート
                %br
                既存システムとの連携
                %br
                広告非表示
                %br
                etc.
            %tr
              %td(colspan=2)
                =link_to 'https://goo.gl/forms/xqvYet0AAsQUalI52', target: '_blank', class: 'btn btn-primary' do
                  = t('.plan_3_action')

%section#faq.text-center
  %h1
    %span FAQ
  %p.mb-30
    = t('.faq_text')
  %div
    =link_to t('contact'), 'https://goo.gl/forms/xqvYet0AAsQUalI52', target: '_blank', class: 'btn btn-primary'
