= content_for :page_title, "HOME"

.alert.alert-info.alert-dismissable(role="alert")
  %button(type="button" class="close" data-dismiss="alert" aria-label="Close")
    %span(aria-hidden="true") ×
  = fa_icon("info-circle")
  超絶使いやすくなった新バージョンを【2018年2月26日】に正式公開します！お先に試したい方は
  = link_to 'こちら', 'https://tournament-7e3b7.firebaseapp.com', {target: '_blank'}

%section#top-banner.hidden-xs.hidden-sm
  = image_tag("top.png", class: "img-responsive img-rounded")

%section.well.text-center
  //PC版
  %div.visible-md.visible-lg
    = link_to t('.create_tournament'), new_tournament_path, class: 'btn btn-danger btn-block btn-lg center-block'
    - if !current_user || current_user.guest?
      %small= t('layouts.sidebar.need_signin_or_signup_html', signin_link: link_to(t('signin'), new_user_session_path), signup_link: link_to(t('signup'), new_user_registration_path))
  //SP版
  %div.visible-xs.visible-sm
    = link_to 'トーナメント表作成', new_tournament_path, class: 'btn btn-danger btn-block btn-lg center-block'
    - if !current_user || current_user.guest?
      %small= t('layouts.sidebar.need_signin_or_signup_html', signin_link: link_to(t('signin'), new_user_session_path), signup_link: link_to(t('signup'), new_user_registration_path))

%section
  %h1.headline
    = fa_icon('star')
    人気のトーナメント表カテゴリ
  .row
    .col-lg-3.col-sm-6.col-xs-6
      = link_to tournaments_path(tag: 'サッカー') do
        .thumbnail
          = image_tag('top/soccer.jpg', class: 'img-responsive')
          .caption.text-center(style="height:60px;")
            %b サッカーのトーナメント表
    .col-lg-3.col-sm-6.col-xs-6
      = link_to tournaments_path(tag: '野球') do
        .thumbnail
          = image_tag('top/baseball.jpg', class: 'img-responsive')
          .caption.text-center(style="height:60px;")
            %b 野球のトーナメント表
    .col-lg-3.col-sm-6.col-xs-6
      = link_to tournaments_path(tag: 'テニス') do
        .thumbnail
          = image_tag('top/tennis.jpg', class: 'img-responsive')
          .caption.text-center(style="height:60px;")
            %b テニスのトーナメント表
    .col-lg-3.col-sm-6.col-xs-6
      = link_to tournaments_path(tag: '柔道') do
        .thumbnail
          = image_tag('top/karate.jpg', class: 'img-responsive')
          .caption.text-center(style="height:60px;")
            %b 柔道のトーナメント表
  .row
    .col-lg-3.col-sm-6.col-xs-6
      = link_to tournaments_path(tag: 'シャドウバース') do
        .thumbnail
          = image_tag('top/shadowverse.jpg', class: 'img-responsive')
          .caption.text-center(style="height:60px;")
            %b シャドウバースのトーナメント表
    .col-lg-3.col-sm-6.col-xs-6
      = link_to tournaments_path(tag: 'クラッシュ・ロワイヤル') do
        .thumbnail
          = image_tag('top/clashroyale.jpg', class: 'img-responsive')
          .caption.text-center(style="height:60px;")
            %b クラッシュ・ロワイヤルのトーナメント表
    .col-lg-3.col-sm-6.col-xs-6
      = link_to tournaments_path(tag: 'スプラトゥーン') do
        .thumbnail
          = image_tag('top/splatoon.png', class: 'img-responsive')
          .caption.text-center(style="height:60px;")
            %b スプラトゥーンのトーナメント表
    .col-lg-3.col-sm-6.col-xs-6
      = link_to tournaments_path(tag: 'スマッシュブラザーズ') do
        .thumbnail
          = image_tag('top/smashbrothers.png', class: 'img-responsive')
          .caption.text-center(style="height:60px;")
            %b スマッシュブラザーズのトーナメント表


%section
  %h1.headline
    = fa_icon('bullhorn')
    = t '.new_tournaments'
  .list-group
    - @tournaments.each do |tournament|
      =link_to pretty_tournament_path(tournament, tournament.encoded_title), class: 'list-group-item clearfix' do
        %span.label.label-warning= t('static_pages.top.finished')
        -# - if tournament.created_at > 3.days.ago
        -#   %span.label.label-warning New!
        %span.list-group-item-heading
          = tournament.title
          = fa_icon("angle-right", "pull-right")
        %small (#{tournament.created_at.strftime("%Y.%m.%d")})
        - tournament.tag_list.take(3).each do |tag|
          %span.label.label-default= tag
    = link_to fa_icon("angle-double-right")+t('.show_more'), tournaments_path, class: "pull-right"

%section
  %h1.headline
    = fa_icon('refresh')
    = t '.wip_tournaments'
  .list-group
    - @unfinished_tnmts.each do |tournament|
      =link_to pretty_tournament_path(tournament, tournament.encoded_title), class: 'list-group-item clearfix' do
        %span.list-group-item-heading
          = tournament.title
          = fa_icon("angle-right", "pull-right")
          %small (#{tournament.created_at.strftime("%Y.%m.%d")})
        - tournament.tag_list.take(3).each do |tag|
          %span.label.label-default= tag
    = link_to fa_icon("angle-double-right")+t('.show_more'), tournaments_path, class: "pull-right"
