= content_for :page_title, @user.name


%section
  %div.cover

  %h1.title.clearfix
    = @user.public_name
    - if current_user && @user == current_user
      = link_to fa_icon('cog')+'編集', edit_user_path(@user), class: 'btn btn-primary pull-right', style: 'color: #fff !important;'

  %p
    = sanitize @user.profile, tags: %w(h1 h2 h3 h4 h5 h6 ul ol li p a img table tr td em br strong), attributes:  %w(id class href)

  - if @user.url.present?
    %p
      = link_to @user.url, target: '_blank' do
        = @user.url
        = fa_icon("external-link")


%section
  %h1.headline
    = fa_icon("trophy")
    作成済みトーナメント表一覧

  - if @tournaments.present?
    %div.panel.panel-default
      .list-group
        - @tournaments.each do |tournament|
          =link_to pretty_tournament_path(tournament, tournament.encoded_title), class: 'list-group-item clearfix' do
            - if tournament.finished
              %span.label.label-warning= t('static_pages.top.finished')
            %span.list-group-item-heading
              = tournament.title
              - if tournament.private
                %span.text-danger= fa_icon("lock")
              = fa_icon("angle-right", "pull-right")
            %small (#{tournament.created_at.strftime("%Y.%m.%d")})
            - tournament.tag_list.take(3).each do |tag|
              %span.label.label-default= tag
    = paginate @tournaments
  - else
    .well
      %p= t(".no_tournament_yet")
      %p= link_to 'トーナメント作成', new_tournament_path, class: 'btn btn-danger'
