= content_for :page_title, 'トーナメント表作成サービス「THE TOURNAMENT」の使い方'

%div
  %ol.breadcrumb
    %li
      =link_to 'TOP', root_path
    %li
      =link_to 'サービスの使い方', docs_path


%section
  %h1.title.clearfix サービスの使い方


- @docs_by_categories.each do |category, docs|
  .panel.panel-info
    .panel-heading= category
    .list-group
      - docs.each do |doc|
        - title = File.basename(doc.delete('_'), '.html.haml')
        = link_to doc_path(title: title), class: 'list-group-item' do
          %span.list-group-item-heading
            = title
            = fa_icon("angle-right", "pull-right")
