= content_for :page_title, "#{params[:title]} - #{@category}"

%div
  %ol.breadcrumb
    %li
      =link_to 'TOP', root_path
    %li
      =link_to 'サービスの使い方', docs_path
    %li
      = params[:title]


%section
  %h1.title.clearfix
    = params[:title]
    %small= @category

= render partial: "docs/#{@category}/#{params[:title]}"

%hr

%section
  .clearfix
    - if @prev
      .pull-left
        = link_to doc_path(title: @prev) do
          = fa_icon('chevron-left') 
          = @prev
    - if @next
      .pull-right
        = link_to doc_path(title: @next) do
          = @next
          = fa_icon('chevron-right')
