= content_for :page_title, "#{@tournament.title} #{t('tournament_menu.games')}"
= content_for :keywords, @tournament.title

= link_to fa_icon("reply")+t('back_to_tournament'), pretty_tournament_path(@tournament, @tournament.title), class: 'btn btn-default'

%section
  %h1.title.clearfix
    = link_to @tournament.title, pretty_tournament_path(@tournament, @tournament.title)

= render partial: "shared/tournament_navi", locals: {tournament:@tournament, step:3}

%section
  %h1.headline
    = fa_icon("list-alt")
    = t('tournament_menu.games')

  - editable = @tournament.user==current_user || current_user.try(:admin?)
  = render partial: "game_list", locals: {tournament:@tournament, editable: editable}
