= content_for :page_title, "#{@tournament.title}の#{@tournament.match_name(round: @round_num, game: @game_num)}"
= content_for :keywords, @tournament.title

= link_to fa_icon("reply")+t('back_to_tournament'), pretty_tournament_path(@tournament, @tournament.title), class: 'btn btn-default'

= render partial: "shared/tournament_navi", locals: {tournament:@tournament, step:3}

%section#game-edit
  %h1.headline
    = fa_icon("list-alt")
    = @tournament.match_name(round: @round_num, game: @game_num)

  .alert.alert-info.alert-dismissable(role="alert")
    %button(type="button" class="close" data-dismiss="alert" aria-label="Close")
      %span(aria-hidden="true") ×
    = fa_icon("info-circle")
    スコアに文字を入力できるようになりました
    = fa_icon("smile-o")
    詳細は
    = link_to 'こちら', 'http://blog.notsobad.jp/entry/2017/09/17/165126', target: '_blank'
  %br

  = simple_form_for @tournament, url: tournament_update_game_path(@tournament, @round_num, @game_num), html: {class: 'form-horizontal'} do |f|
    - scoreless = (@tournament.scoreless?) ? 'hidden' : ''
    .row{class: "#{scoreless} .game_game_records_score" }
      .col-md-1.col-md-push-5.text-center.visible-md.visible-lg
        - 5.times do
          %br
        %i.fa.fa-minus
      .col-md-5.text-center{class: 'col-md-pull-1'}
        .panel{class: 'panel-default'}
          .panel-heading
            %i.fa.fa-2x
            %br
            %h4= @players[0]['name']
          %ul.list-group
            %li.list-group-item.clearfix
              %br
              %div.clearfix
                .form-group.game_game_records_score.integer.required
                  .form-group
                    = text_field_tag 'game[score][]', @game['score'][0], {class: 'string form-control'}
      .col-md-5.text-center
        .panel{class: 'panel-default'}
          .panel-heading
            %i.fa.fa-2x
            %br
            %h4= @players[1]['name']
          %ul.list-group
            %li.list-group-item.clearfix
              %br
              %div.clearfix
                .form-group.game_game_records_score.integer.required
                  .form-group
                    = text_field_tag 'game[score][]', @game['score'][1], {class: 'string form-control'}

    %div.mb-30
      %small= t('games.winner_select_scoreless')

      .row
        .col-md-6
          %select#winner-select.form-control
            %option(value='')
            %option(value=0)= @players[0]['name']
            %option(value=1)= @players[1]['name']
          = hidden_field_tag 'game[winner]', @game['winner']

    %div.mb-30
      %small コメント(オプション)
      .row
        .col-md-6
          = text_area_tag 'game[comment]', @game['comment'], {class: 'string optional form-control', maxLength: 500}
          %p.help-block 500文字まで。URLを入れると自動でリンクになります。

    %hr

    = f.submit '更新する', id: 'btn-update-game', class: "btn btn-danger"
    = link_to 'キャンセル', tournament_edit_games_path(@tournament), class: 'btn btn-default'
    = link_to fa_icon('undo')+'試合結果をリセットする', tournament_reset_game_path(@tournament, @round_num, @game_num), class: 'btn btn-link pull-right', data: {confirm: '試合結果をリセットすると、この試合の結果が影響する他の試合も合わせてリセットされます。本当によろしいですか？'}
