= content_for :page_title, "#{@tournament.encoded_title}のトーナメント表"
= content_for :keywords, @tournament.encoded_title
= content_for :description, "#{@tournament.encoded_title}のトーナメント表です。#{@tournament.detail}"
= content_for :canonical, url_for(locale:nil, only_path:false) + "/#{@tournament.encoded_title}"

- editable = @tournament.user==current_user || current_user.try(:admin?)
= render partial: "shared/tournament_info", locals: {tournament:@tournament, editable: editable}
= render partial: "shared/tournament_menu", locals: {tournament:@tournament, active:1}

%section
  %h1.headline
    = fa_icon("trophy")
    = t('.tournament_bracket')
  %ul.list-inline.text-right
    %li
      %a#btnImageDownload.btn.btn-sm.btn-link(href="#" download="tournament" data-loading-text="画像ダウンロードの準備をしています...")
        = fa_icon "download"
        画像でダウンロード
    %li
      = link_to @tournament.embed_html_url, class: 'btn btn-sm btn-link', target: '_blank' do
        = fa_icon('arrows-alt')
        全画面で表示する
  .row.mb-30
    .col-lg-12
      = render partial: "tournaments/raw", locals: { tournament: @tournament, embed: false }

  %ul.list-inline
    %li
      %span
        %script(type="text/javascript" src="//media.line.me/js/line-button.js?v=20140411")
        %script(type="text/javascript")
          if (typeof media_line_me != "undefined") { new media_line_me.LineButton({"pc":false,"lang":"ja","type":"a"}); }
    %li#like-button
      %iframe(src="https://www.facebook.com/plugins/like.php?href=#{tournament_url(@tournament)}&width=89&layout=button&action=like&size=small&show_faces=false&share=false&height=21&appId=139414576217599" width="89" height="21" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowTransparency="true")
    %li
      %a(href="https://twitter.com/share" class="twitter-share-button" data-text="#{@tournament.title}のトーナメント | #{t('site_description')}" data-hashtags="the_tournament" data-url="#{tournament_url(@tournament)}") Tweet
  %br
    .row.visible-xs.visible-sm
      %script(type="text/javascript" src="https://cdn-fluct.sh.adingo.jp/f.js?G=1000084085")
      %script(type="text/javascript")
        //<![CDATA[
        if(typeof(adingoFluct)!="undefined") adingoFluct.showAd('1000125738');
        //]]>
      %script(type="text/javascript")
        //<![CDATA[
        if(typeof(adingoFluct)!="undefined") adingoFluct.showAd('1000125739');
        //]]>
    .row.visible-md.visible-lg
      %script(type="text/javascript" src="https://cdn-fluct.sh.adingo.jp/f.js?G=1000084096")
      %script(type="text/javascript")
        //<![CDATA[
        if(typeof(adingoFluct)!="undefined") adingoFluct.showAd('1000125758');
        //]]>
  %br
  - if editable && current_user.id != 1
    .row.hidden-xs.hidden-sm.mb-30
      .col-lg-12
        - embed_content = "<div style='position:relative!important;width:100%!important;max-width:100%!important;margin-bottom:20px!important;overflow:auto !important;-webkit-overflow-scrolling:touch !important;'><iframe src='#{@tournament.embed_html_url}' seamless frameborder='0' scrolling='no' width='100%' height='#{@tournament.embed_height.to_s}' style='width:1px;min-width:100%;'></iframe></div>"
        %h5
          = fa_icon("code")
          埋め込み用タグ
          %span.label.label-warning New!
        %div#emb-link
          %input(type="text" size="100%" value="#{embed_content}" onfocus="this.select();" readonly)
        %br
        .alert.alert-info.alert-dismissable(role="alert")
          %button(type="button" class="close" data-dismiss="alert" aria-label="Close")
            %span(aria-hidden="true") ×
          = fa_icon("info-circle")
          埋め込みトーナメントへの結果反映には、最大10分程度時間差が発生します。リアルタイム反映をご希望の場合は
          = link_to '問い合わせフォーム', 'https://goo.gl/forms/xqvYet0AAsQUalI52', target: '_blank'
          からお問い合わせください。
