= content_for :page_title, "#{@tournament.encoded_title}のトーナメント表"
= content_for :keywords, @tournament.encoded_title
= content_for :description, "#{@tournament.encoded_title}のトーナメント表です。#{@tournament.detail}"
= content_for :canonical, url_for(locale:nil, only_path:false) + "/#{@tournament.encoded_title}"

- editable = @tournament.user==current_user || current_user.try(:admin?)
= render partial: "shared/tournament_info", locals: {tournament:@tournament, editable: editable}
= render partial: "shared/tournament_menu", locals: {tournament:@tournament, active:1}

%section
  %h1.headline
    = fa_icon("trophy")
    = t('.tournament_bracket')
    .small.pull-right
      = link_to @tournament.embed_html_url, class: 'btn btn-link', target: '_blank' do
        = fa_icon('arrows-alt')
        全画面で表示する
  .row.mb-30
    .col-lg-12
      = render partial: "tournaments/raw", locals: { tournament: @tournament }

  %ul.list-inline
    -# %li
    -#   %a#btnImageDownload.btn.btn-sm.btn-default(href="#" download="tournament" data-loading-text="画像ダウンロードの準備をしています...")
    -#     = fa_icon "download"
    -#     画像でダウンロード
    %li
      %span
        %script(type="text/javascript" src="//media.line.me/js/line-button.js?v=20140411")
        %script(type="text/javascript")
          if (typeof media_line_me != "undefined") { new media_line_me.LineButton({"pc":false,"lang":"ja","type":"a"}); }
    %li#like-button
      .fb-like(data-width="120" data-layout="button_count" data-action="like" data-show-faces="false" data-share="false" data-href="#{tournament_url(@tournament)}")
    %li
      %a(href="https://twitter.com/share" class="twitter-share-button" data-text="#{@tournament.title}のトーナメント | #{t('site_description')}" data-hashtags="the_tournament" data-url="#{tournament_url(@tournament)}") Tweet
      %script
        !function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');
  %br
    %script(type="text/javascript")
      var nend_params = {"media":41572,"site":225241,"spot":789625,"type":1,"oriented":1};
    %script(type="text/javascript" src="https://js1.nend.net/js/nendAdLoader.js")
  %br
  - if editable
    .row.hidden-xs.hidden-sm.mb-30
      .col-lg-12
        - embed_content = "<div style='position:relative!important;width:100%!important;max-width:100%!important;margin-bottom:20px!important;overflow:auto !important;-webkit-overflow-scrolling:touch !important;'><iframe src='#{@tournament.embed_html_url}' seamless frameborder='0' scrolling='no' width='100%' height='#{@tournament.embed_height.to_s}' style='width:1px;min-width:100%;'></iframe></div>"
        %h5
          = fa_icon("code")
          埋め込み用タグ
          %span.label.label-warning New!
        %div#emb-link
          %input(type="text" size="100%" value="#{embed_content}" onfocus="this.select();" readonly)
        %br
        %small
          [2017.9.5] 埋め込みタグが新バージョンになりました！以前に作成したトーナメントで埋め込んでも表示されない場合は、トーナメント基本情報を更新して保存し直してみてください。
        /
          .col-lg-12
            - embed_img_content = "<iframe src='#{@tournament.embed_img_url}' seamless frameborder='0' width='100%' height='1000px'></iframe>";
            %h5
              = fa_icon("photo")
              画像埋め込みタグ　
            %div
              %input(type="text" style="width:100%;" value="#{embed_img_content}" onfocus="this.select();" readonly)
