%div
  %ol.breadcrumb
    %li
      =link_to 'TOP', root_path
    %li
      =link_to t('tournament_info.all_tournaments'), tournaments_path
    - if tournament.category.present?
      %li= link_to tournament.category, tournaments_path(tag: tournament.category)
    %li
      = tournament.title

%section
  %h1.title.clearfix
    = link_to pretty_tournament_path(tournament, tournament.title) do
      = tournament.title
      %small.text-danger= fa_icon('lock') if tournament.private

    -# 編集ボタン
    - if editable
      .btn-group.pull-right
        %button.btn.btn-primary.dropdown-toggle(type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false")
          編集する
          %span.caret
        %ul.dropdown-menu
          %li= link_to fa_icon('info-circle')+'基本情報の更新', edit_tournament_path(tournament)
          %li= link_to fa_icon('users')+'参加者の更新', tournament_edit_players_path(tournament)
          %li= link_to fa_icon('list-alt')+'試合結果の更新', tournament_edit_games_path(tournament)

  - if tournament.place.present?
    %small @#{tournament.place}
  %small.pull-right= tournament.created_at.strftime("%Y.%m.%d")
  %ul.list-inline
    - tournament.tag_list.each do |tag|
      %li
        = link_to tournaments_path(tag: tag), class:'no-underline' do
          %span.label.label-warning= tag
  %p= simple_format(h(tournament.detail))
  - if tournament.url.present?
    %p= link_to "#{tournament.url} <i class='fa fa-external-link'></i>".html_safe, tournament.url, target:'_blank'

-# 所有者のみ編集ボタン表示
-# - if editable
-#   %section.well.text-center
-#     = link_to fa_icon("cogs")+'トーナメント更新', edit_tournament_path(tournament), class: "btn btn-danger btn-block btn-lg center-block"
-#     %small トーナメント情報の編集・参加者の登録・試合結果の登録はこちらから可能です。

%hr
