= content_for :page_title, 'トーナメント表作成サービス「THE TOURNAMENT」の使い方'

%div
  %ol.breadcrumb
    %li
      =link_to 'TOP', root_path
    %li
      =link_to 'サービスの使い方', docs_path


%section
  %h1.title.clearfix サービスの使い方

%section
  .panel.panel-info
    - category_id = 0
    - @documents.each do |doc|
      - if category_id != doc.category_id
        - category_id = doc.category_id
        .panel-heading= Document::CATEGORIES[category_id]
      .list-group
        = link_to doc_path(category_id: doc.category_id, document_id: doc.document_id), class: 'list-group-item' do
          %span.list-group-item-heading
            = doc.title
            = fa_icon("angle-right", "pull-right")
