%p.h3
  = fa_icon('caret-right')
  マイページにアクセス
%br
.row
  .col-lg-9
    = image_tag('docs/一度作ったトーナメント表を編集する/1.jpg', class: 'img-responsive', style: 'border: 1px solid #ddd;')
%br
%br
.panel.panel-info
  .panel-heading
    = fa_icon('info-circle')
    ログインせずに作ったトーナメント表を更新したい
  .panel-body
    ゲストユーザーで作成したトーナメント表は、作成時に発行された「更新用URL」にアクセスすることで再度編集できます。
%br


%hr
%br
%br


%p.h3
  = fa_icon('caret-right')
  編集したいトーナメント表を選択
%br
.row
  .col-lg-9
    = image_tag('docs/一度作ったトーナメント表を編集する/2.jpg', class: 'img-responsive', style: 'border: 1px solid #ddd;')
%br


%hr
%br
%br


%p.h3
  = fa_icon('caret-right')
  編集メニューを選択
%br
.row
  .col-lg-9
    = image_tag('docs/一度作ったトーナメント表を編集する/3.jpg', class: 'img-responsive', style: 'border: 1px solid #ddd;')
%br
