%p
  THE TOURNAMENTでは、初期設定では各試合にスコアを登録する設定になっています。
  %br
  スコアがなく勝敗のみが記録されるタイプの大会の場合、以下の手順でスコアなしの設定に変更してください。
%br
%p.h3
  = fa_icon('caret-right')
  「基本情報変更」メニューを選択
%br
.row
  .col-lg-9
    = image_tag('docs/2-2/1.jpg', class: 'img-responsive', style: 'border: 1px solid #ddd;')
%br


%hr
%br
%br


%p.h3
  = fa_icon('caret-right')
  スコア形式で「スコア無し」のチェックボックスを選択する
%br
.row
  .col-lg-9
    = image_tag('docs/2-2/2.jpg', class: 'img-responsive', style: 'border: 1px solid #ddd;')
%br

%hr
%br
%br

%p.h3
  = fa_icon('caret-right')
  完成イメージ
%br
%p
  スコアが表示されなくなりました！
%br
.row
  .col-lg-9
    = image_tag('docs/2-2/3.jpg', class: 'img-responsive', style: 'border: 1px solid #ddd;')
%br
