%footer
  - if @rss.present?
    .well
      .container
        .row
          .col-lg-10.col-lg-offset-1
            %div
              %table.table
                - @rss.items.take(3).each do |item|
                  %tr
                    %td
                      =link_to item.link, target:'_blank' do
                        = item.title.force_encoding("utf-8")
                        %small.visible-xs= item.published.strftime("%Y-%m-%d")
                    %td.text-right.hidden-xs
                      %small= item.published.strftime("%Y-%m-%d")
                %tr
                  %td
                    %small
                      =link_to fa_icon('angle-double-right')+'すべてのお知らせを見る', 'http://blog.notsobad.jp/archive/category/THE%20TOURNAMENT', target:'_blank'
                  %td

  .black.text-center
    .container
      %p
        Copyright &copy; THE TOURNAMENT  2014-#{Date.today.strftime("%Y")} All Rights Reserved.
      - if controller.action_name != 'about'
        %p= link_to t('site_description'), "/about"
      - if controller.action_name == 'top'
        %p
          %small
            Polygonal Image Credit:
            %a(href="http://www.freepik.com/free-photos-vectors/abstract" target="_blank") Abstract vector created by Freepik
      %ul.list-inline
        %li= link_to 'このサイトについて', "/about"
        %li= link_to t('official_blog'), 'http://blog.notsobad.jp', target: '_blank'
        %li= link_to t('roadmap'), 'https://trello.com/b/G9vXQ1rT/', target: '_blank'
        %li= link_to t('company'), 'https://notsobad.jp/', target: '_blank'
        %li= link_to t('contact'), 'https://goo.gl/forms/xqvYet0AAsQUalI52', target: '_blank'
        %li= link_to t('terms_of_use'), "/terms", target: '_blank'
        %li= link_to t('privacy_policy'), "/privacy", target: '_blank'
      %br
      %ul.list-inline.f16
        %li
          %span.flag.jp
          = link_to '日本語', url_for(locale: :ja)
        %li
          %span.flag.us
          = link_to 'English', url_for(locale: :en)
