= nav_bar responsive: true, brand: image_tag("logo_w.png", alt: "THE TOURNAMENT"), brand_link: '/' do
  -# %p.navbar-text.hidden-xs.hidden-sm= t('site_description')
  %ul.nav.navbar-nav.navbar-left
    %li= link_to fa_icon('question-circle')+"使い方ガイド", docs_path


  -# SP
  %ul.nav.navbar-nav.navbar-right.visible-xs.visible-sm
    %li= link_to fa_icon('trophy')+'トーナメント表作成', new_tournament_path

    - if current_user && !current_user.guest?
      %li= link_to fa_icon('user')+'マイページ', user_path(current_user), 'data-turbolinks': false
      %li= link_to fa_icon('sign-out')+t('signout'), destroy_user_session_path, method: :delete
    - else
      %li= link_to fa_icon('users')+t("layouts.sidebar.user_registration"), new_user_registration_path
      %li= link_to fa_icon('sign-in')+t('signin'), new_user_session_path

  -# PC
  %ul.nav.navbar-nav.navbar-right.visible-md.visible-lg
    %form.navbar-form.navbar-left
      = link_to 'トーナメント表作成', new_tournament_path, class: 'btn btn-danger'

    - if current_user && !current_user.guest?
      %li
        = link_to user_path(current_user), {'data-turbolinks': false} do
          = fa_icon('user')
          マイページ
      %li
        = link_to t('signout'),destroy_user_session_path, method: :delete
    - else
      %li= link_to t("layouts.sidebar.user_registration"), new_user_registration_path
      %li= link_to t('signin'), new_user_session_path
