= nav_bar responsive: true, fixed: :top, brand: image_tag("logo_w.png"), brand_link: '/about' do
  = menu_group do
    = menu_item "トップ", "#top"
    = menu_item "特徴", "#about"
    = menu_item "サンプル", "#examples"
    = menu_item "機能", "#feature"
    = menu_item "料金", "#plan"
    = menu_item "お問い合わせ", "#faq"

  %ul.nav.navbar-nav.navbar-right
    %li
      = link_to root_path, class: "navbar-btn-danger" do
        %button.btn.btn-danger.navbar-btn
          = t('static_pages.about.try_service')

    - ja_active = en_active = ''
    - (I18n.locale == :ja) ? ja_active='active' : en_active='active'
    %li{class: "#{ja_active} visible-md visible-lg"}
      = link_to 'JP', url_for(locale: :ja)
    %li{class: "#{en_active} visible-md visible-lg"}
      = link_to 'EN', url_for(locale: :en)
