-# Ad
-# %script(type="text/javascript")
-#   var nend_params = {"media":41572,"site":225241,"spot":751939,"type":1,"oriented":1};
-# %script(type="text/javascript" src="https://js1.nend.net/js/nendAdLoader.js")

-# Search
%section
  %h4
    = fa_icon("search")
    = t('layouts.sidebar.tournament_search')
  = form_tag('/tournaments', method: :get) do
    .well
      .input-group
        = text_field_tag(:q, params[:q], class:"form-control", placeholder: t('layouts.sidebar.search_placeholder'))
        %span.input-group-btn
          = submit_tag(t("layouts.sidebar.search"), class:"btn btn-default")
      %br
      - tag_cloud(Tournament.tag_counts_on(:tags, limit: 40, order: "count desc"), %w(css1 css2 css3 css4)) do |tag, css_class|
        = link_to tag.name, tournaments_path(tag: tag.name), class: css_class
